/* overwrite theme varibales */
$primary: #CEBECE;
$secondary: #DDD0DA;
$dark: #9F7F9C;
$light: #DDD0DA;
$info: white;
$danger: black;

// TODO: add dark gradient overtop
.main-gradient{
    background-image: url('../public/abstract');
}

// * <a href="https://www.flaticon.com/free-icons/hamburger" title="hamburger icons">Hamburger icons created by exomoon design studio - Flaticon</a>
// * attribute for hamburger icon

@media screen and (display-mode: standalone) {
    .footer {
        margin-bottom: 20rem;
        margin-top: 1rem;
        padding: 1rem;
        background-color: rgb(235, 195, 64);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

/* import bootstrap files */
@import '~bootstrap/scss/bootstrap.scss';