/* // TODO: add dark gradient overtop */

/* css for main page graident */
.main-gradient{
    background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.75)), url("https://ik.imagekit.io/dod5kjssy/imgs/cupcake/small_imgs/abstract");
    background-repeat: no-repeat;
    background-size: cover;
}

/* apply to display dark overlay gradient */
.overlay-gradient{
    background: linear-gradient(rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.75))
}
/* apply this to get hide content meant for PWA */
.web-mode{
    display: none !important;
}

/* apply to display smallest text possible */
.small-text{
    font-size: xx-small;
}

/* media query for PWA mode */
@media screen and (display-mode: standalone) {
    /* apply this to hide content only meant for web mode */
    .no-header{
        display: none;
    }

    /* apply this to show content in PWA that was hidden by .web-mode in web mode */
    .pwa-mode{
        display: flex !important;
    }
}