/* overwrite theme varibales */
$primary: #CEBECE;
$secondary: #DDD0DA;
$dark: #9F7F9C;
$light: #DDD0DA;
$info: white;
$danger: black;
$success: #e9b4ebc7;
$warning: #dc3545;
$light:#f6f0f6; 

/* import bootstrap files */
@import '~bootstrap/scss/bootstrap.scss';