/* overwrite theme varibales */
$primary: orange;
$secondary: purple;
$dark: black;
$light: blue;


@media screen and (display-mode: standalone) {
    .footer {
        margin-bottom: 20rem;
        margin-top: 1rem;
        padding: 1rem;
        background-color: rgb(235, 195, 64);
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

/* import bootstrap files */
@import '~bootstrap/scss/bootstrap.scss';